.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}


.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.field-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 0
}

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}